<div class="container">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <button *ngIf="!(user | async)?.uid" (click)="login()" class="btn btn-default btn-block fb-btn">Login With Facebook to chat</button>
    <button *ngIf="(user | async)?.uid" (click)="logout()" class="btn btn-default btn-block fb-btn">Logout</button>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">  
    <div class="chat-container" *ngFor='let item of items | async'>
      <a href="#">{{item.name}}</a>
      <p>{{item.message}}</p>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">    
    <div class="msg-container">    
      <input id="message" *ngIf='(user | async)?.uid' type="text" placeholder="Enter your message." (keyup.enter)='chatSend($event.target.value)' [(ngModel)]='chatMsg' />
      <span class="	glyphicon glyphicon-send send-icon" (click)="chatSend(chatMsg)"></span>
    </div>
  </div>
</div>